<h3>Sign up now for unlimited activities</h3>

<form action="/signup" method="post">
  <label> Name: </label>
  <input type="text" name="name" id="name">
  <br></br>

  <label> Email: </label>
    <input type="text" name="email" id="email">
  <br></br>

  <label> Password: </label>
  <input type="password" name="password" id="password">
  <br></br>

  <input type="submit" value="Sign Up">
</form>
