<h3>All Categories</h3>
<%@categories.all.each_with_index do |c,i|%>

<ul>
  <h2><%=i+1%>. <%=c.name%></h2>
  <%c.activities.each do |a|%>
    <li><a href="/activities/<%=@random_activity.slug%>"><%=a.name%></a></li>
    <%end%>
</ul>
<%end%>
