<h2>All Categories</h2>
<%@categories.all.each_with_index do |c,i|%>

  <h3><%=i+1%>. <%=c.name%></h3>
  <%c.activities.each do |a|%>
    <a href="/activities/<%=a.slug%>"><%=a.name%></a>
    <%end%>

<%end%>
