<h3>Welcome, <%=@user.name.titleize%>!</h3>


<p> Here's a suggestion for your next event: <a href="/activities/<%=@random_activity.slug%>"><%=@random_activity.name%></a>!</p>
<p> But if that one doesn't interest you, check out all our other <a href="/categories">activities</a>!</p>

<p> Click <a href="/activities/new">here</a> to create a new activity! </p>
<p><a href="/logout">Logout</a></p>
