<h3>Don't know where to spend your Friday night? AG knows!</h3>
<h4>The site for local recommended activities</h4>
<p>Please <a href="/signup">sign up</a> or <a href="/login">log in</a> to access your AG account</p>
